In [ ]:
a=1
print(type(a))

<class 'int'>

In [ ]:
class Faculty:
  pass

faculty=Faculty()
print(type(faculty))

<class '__main__.Faculty'>

In [ ]:
class Faculty:
  pass

faculty1=Faculty()
faculty1.name="nahan"
print(faculty1.name)

faculty2=Faculty()
faculty2.name="shamil"
print(faculty2.name)

print(type(faculty1))
print(type(faculty2))

nahan
shamil
<class '__main__.Faculty'>
<class '__main__.Faculty'>

In [ ]:
class Faculty:
  inst_id=101
  def __init__(self,name,age,place="manjeri"):
    self.name=name
    self.age=age
    self.place=place

faculty1=Faculty("nahan",18)
faculty2=Faculty("shamil",9,"kozhikode")

print(faculty1.name)
print(faculty2.name)
print(faculty2.inst_id)
print(faculty1.place)
print(faculty2.place)

nahan
shamil
101
manjeri
kozhikode

#***`How to Create a Class`***

In [ ]:
class Car:
  company="BMW"
  model="m5"
  price=3000000
  color="black"

  def displayDetails(self):
    print("printing all details")

#***`How to Create Object from the Class`***

In [ ]:
class Car:
  company="BMW"
  model="m5"
  price=3000000
  color="black"

  def displayDetails(self):
    print("printing all details")

a=Car()
b=Car()
c=Car()

print(a)

<__main__.Car object at 0x7d8024fead90>

#***`How to Check the Type of a,b,c?`***

In [ ]:
class Car:
  company="BMW"
  model="m5"
  price=3000000
  color="black"

  def displayDetails(self):
    print("printing all details")

a=Car()
b=Car()
c=Car()

print(type(a))
print(type(b))
print(type(c))

<class '__main__.Car'>
<class '__main__.Car'>
<class '__main__.Car'>

#***`Access the value of the variables-using class`***

In [ ]:
class Car:
  company="BMW"
  model="m5"
  price=3000000
  color="black"

  def displayDetails(self):
    print("printing all details")

a=Car()
print(Car.color,Car.company,Car.model,Car.price)

black BMW m5 3000000

#***`Access the value of the variables-using object`***

In [ ]:
class Car:
  company="BMW"
  model="m5"
  price=3000000
  color="black"

  def displayDetails(self):
    print("printing all details")

a=Car()
print(a.color,a.company,a.model,a.price)

black BMW m5 3000000

***`If you want to call function displayDetails`***

In [ ]:
class Car:
  company="BMW"
  model="m5"
  price=3000000
  color="black"

  def displayDetails(self):
    print("printing all details")

a=Car()
a.displayDetails()

printing all details

#***`Using Constructor (__init__)`***

In [ ]:
class Employee:
  company_name="ABCD TECHNOLOGY"
  location="kochi"

  def __init__(self,id,name,salary):
    self.emp_id=id
    self.emp_name=name
    self.emp_salary=salary
  def get_details(self):
    print(self.emp_id,self.emp_name,self.emp_salary)

a=Employee(100,"nahan",50000)
b=Employee(101,"manu",60000)

a.get_details()
b.get_details()

100 nahan 50000
101 manu 60000

>q)

>* create a class car with attributes brand,model and year
* instantiate an object with brand=toyota,model=corolla and year=2020
* print the attributes of the object

In [ ]:
class Car:
  pass

  def __init__(self,brand,model,year):
    self.car_brand=brand
    self.car_model=model
    self.car_year=year

  def get_details(self):
    print(self.car_brand,self.car_model,self.car_year)

a=Car("Toyota","Corolla",2020)

a.get_details()

Toyota Corolla 2020

In [ ]:
#Another method of last question

class Car:
  pass

  def __init__(self,brand,model,year):
    self.car_brand=brand
    self.car_model=model
    self.car_year=year

a=Car("Toyota","Corolla",2020)

print(f"Brand:{a.car_brand}, Model:{a.car_model}, Year:{a.car_year}")

Brand:Toyota, Model:Corolla, Year:2020

>q)

>* Add a class attribute wheels=4 to the car class
* Access it using both the class name and an object

In [ ]:
class Car:
  wheels=4

  def __init__(self,brand,model,year,wheels):
    self.car_brand=brand
    self.car_model=model
    self.car_year=year
    self.car_wheels=wheels

a=Car("Toyota","Corolla",2020,4)

print("class attribute via class:",Car.wheels)
print("class attribute via object:",a.wheels)

class attribute via class: 4
class attribute via object: 4

>q)

>* write a class rectangle with attribute length and breadth
* add a method area to calculate the area of the rectangle and return it

In [ ]:
class Rectangle:
  pass

  def __init__(self,length,breadth):
    self.rectangle_length=length
    self.rectangle_breadth=breadth

  def area(self):
    print(self.rectangle_length*self.rectangle_breadth)

a=Rectangle(10,5)
a.area()

50

>q)

>* create a class of students
* add attributes name,age and id
* create a method to display the attributes
* create any 5 objects
* display the details of object 2
* access the first object name
* display the details of object 3

In [ ]:
class Students:
  pass

  def __init__(self,name,age,id):
    self.student_name=name
    self.student_age=age
    self.student_id=id

  def get_details(self):
    print(self.student_name,self.student_age,self.student_id)

obj1=Students("shamil",20,101)
obj2=Students("ajvad",21,102)
obj3=Students("abee",22,103)
obj4=Students("shabeer",23,104)
obj5=Students("anas",24,105)

obj2.get_details()
print(obj1.student_name)
obj3.get_details()

ajvad 21 102
shamil
abee 22 103

>q)

* create a class called person with the following attributes:

* name(string),age(integer),city(string)

* The class should have the folowing methods:

 * introduce():this method should print a sentence introducing the person like:"Hello,my name is[name],iam [age]years old,and i lives in [city]"

 * is_adult():this method should return true if the person is 18 or older(an adult),otherwise return false.

* then create atleast 2 objects of the person class,initialize them with appropriate values and   demonstrate calling the methods inreoduse() and is_adult().

In [ ]:
class Person:
  pass

  def __init__(self,name,age,city):
    self.person_name=name
    self.person_age=age
    self.person_city=city

  def introduce(self):
    print(f"Hello,my name is {self.person_name},iam {self.person_age} years old,and i lives in {self.person_city}")

  def is_adult(self):
    return self.person_age>=18

obj1=Person("shamil",9,"nilambur")
obj2=Person("abee",18,"karulai")

obj1.introduce()
print(obj1.is_adult())

obj2.introduce()
print(obj2.is_adult())

Hello,my name is shamil,iam 9 years old,and i lives in nilambur
False
Hello,my name is abee,iam 18 years old,and i lives in karulai
True

>q)

Create a class called Library that represents a library. Each book in the library will be represented by an
object. The class should have the following features:
1. Class Variable
o total_books: A class variable that keeps track of the total number of books in the library.
It should be updated whenever a new book is added or removed.

2. Attributes (Instance Variables)
o book_name (string): The name of the book.
o author (string): The author of the book.
o year (integer): The year the book was published.
o availability (boolean): Whether the book is available in the library (True if available, False
if checked out).

3. Methods
o __init__: Constructor to initialize the attributes, and it should also increase total_books
by 1 whenever a new book is created.
o check_availability: A method that returns whether the book is available or checked out.
o borrow_book: A method that changes the availability to False when a book is borrowed
and decreases total_books if the book is borrowed (considered removed from the library
temporarily).
o return_book: A method that changes the availability to True when a book is returned
and increases total_books if the book is returned (considered added back to the library).
o display_info: A method that prints the details of the book (book name, author, year, and
availability).
o display_total_books: A class method that prints the total number of books in the library.
4. Create multiple objects (books) for the Library class, and demonstrate borrowing, returning
books, and updating the total book count by calling appropriate methods.

Example of What It Should Include
1. When a new book is added, total_books should increase by 1.
2. When a book is borrowed, total_books should decrease by 1.
3. When a book is returned, total_books should increase by 1.

In [ ]:
class Library:
  total_books=100

  def __init__(self,book_name,author,year,availability=True):
    self.book_name=book_name
    self.book_author=author
    self.book_year=year
    self.book_availability=availability

    Library.total_books+=1

  def check_availability(self):
    return self.availability

  def borrow_book(self):
    if self.book_availability:
      self.book_availability=False
      Library.total_books-=1
      print(f"You have borrowed {self.book_name}")
    else:
      print(f"{self.book_name} is currently unavailable")

  def return_book(self):
    if not self.book_availability:
      self.book_availability=True
      Library.total_books+=1
      print(f"You have returned {self.book_name}")
    else:
      print(f"{self.book_name} is available in the library")

  def display_info(self):
    status="Available" if self.book_availability else "Checked out"
    print(f"Book name: {self.book_name}, Author: {self.book_author}, Year: {self.book_year}, Status: {status}")

  @classmethod
  def display_total_books(cls):
    print(f"Total books are {cls.total_books}")

book1=Library("english","george",1949)
book2=Library("maths","john",1960)
book3=Library("physics","jacob",1980)

Library.display_total_books()

book1.borrow_book()
Library.display_total_books()

book1.borrow_book()

book1.return_book()
Library.display_total_books()

book1.display_info()
book2.display_info()
book3.display_info()

Total books are 103
You have borrowed english
Total books are 102
english is currently unavailable
You have returned english
Total books are 103
Book name: english, Author: george, Year: 1949, Status: Available
Book name: maths, Author: john, Year: 1960, Status: Available
Book name: physics, Author: jacob, Year: 1980, Status: Available

#***`Inheritance`***

In [ ]:
class Human:
  def eat(self):
    print("i can eat")

  def walk(self):
    print("i can walk")

class Male(Human):
  def talk(self):
    print("i can talk")

male1=Male()

male1.eat()
male1.talk()

i can eat
i can talk

#***`Constructor Overriding`***

In [ ]:
class Human:
  def eat(self):
    print("i can eat")

  def walk(self):
    print("i can walk")

class Male(Human):
  def talk(self):
    print("i can talk")

  def walk(self):
    print("i can't walk")
    super().walk()

male1=Male()

male1.walk()

i can't walk
i can walk

In [ ]:
class Employee:
  def __init__(self,name,age):
    self.name=name
    self.age=age

class Developer(Employee):
  pass

dev1=Developer("nahan",18)

print(dev1.name)
print(dev1.age)

nahan
18

In [ ]:
#orginal method
class Employee:
  def __init__(self,name,age):
    self.emp_name=name
    self.emp_age=age

class Developer(Employee):
  def __init__(self,name,age,language):
    self.language=language
    super().__init__(name,age)

dev1=Developer("nahan",18,"python")

print(dev1.language)
print(dev1.emp_name)
print(dev1.emp_age)

python
nahan
18

>q)

>* create a base class product with:
* constructor (__init__) to initialize name and price
* a method display_details() to print product details
* create a subclass electronics with:

>* constructor (__init__) to initialize name,price and warranty
* override the display_details() method to include warranty
* instantiate object of both classes and call their display_details() method

In [ ]:
class Product:
  def __init__(self,name,price):
    self.prod_name=name
    self.prod_price=price

  def display_details(self):
    print(f"The product name is {self.prod_name} and the price is {self.prod_price}")

class Electronics(Product):
  def __init__(self,name,price,warranty):
    self.prod_warranty=warranty
    super().__init__(name,price)

  def display_details(self):
    super().display_details()
    print(f"The product warranty is {self.prod_warranty} years")

p1=Product("computer",30000)
p1.display_details()

p2=Electronics("laptop",50000,3)
p2.display_details()

The product name is computer and the price is 30000
The product name is laptop and the price is 50000
The product warranty is 3 years

#***`Multiple Inheritance`***

In [ ]:
class Human:
  def eat(self):
    print("i can eat")

  def work(self):
    print("i can work")

class Male:
  def flirt(self):
    print("i can flirt")

  def work(self):
    print("i can code")

class Boy(Male,Human):
  pass

boy1=Boy()

boy1.eat()
boy1.flirt()
boy1.work()

i can eat
i can flirt
i can code

#***`Multilevel Inheritance`***

In [ ]:
class Human:
  def eat(self):
    print("i can eat")

  def work(self):
    print("i can work")

class Male:
  def flirt(self):
    print("i can flirt")

  def work(self):
    print("i can code")

class Boy(Male,Human):
  def work(self):
    Male.work(self)

boy1=Boy()

boy1.eat()
boy1.flirt()
boy1.work()

i can eat
i can flirt
i can code

#***`Polymorphism`***

##***`Method overriding`***

In [ ]:
#overriding
class A:
  def show(self):
    print("Class A")

class B(A):
  def show(self):
    print("Class B")

class C(B):
  def show(self):
    print("Class C")

obj=C()
obj.show()

Class C

In [ ]:
#overriding
class A:
  def show(self):
    print("Class A")

class B(A):
  def show(self):
    print("Class B")
    super().show()

class C(B):
  def show(self):
    print("Class C")
    super().show()

obj=C()
obj.show()

Class C
Class B
Class A

In [ ]:
#overriding
class Animal:
  def speak(self):
    print("Animal is making a sound")

class Dog(Animal):
  def speak(self):
    print("Dog barks")

class Cat(Animal):
  def speak(self):
    print("Cat meows")

dog1=Dog()
dog1.speak()

animal=Animal()
animal.speak()

Dog barks
Animal is making a sound

In [ ]:
#overriding
class Animal:
  def speak(self):
    print("Animal is making a sound")

class Dog(Animal):
  def speak(self):
    print("Dog barks")
    super().speak()

class Cat(Animal):
  def speak(self):
    print("Cat meows")

dog1=Dog()
dog1.speak()

Dog barks
Animal is making a sound

##***`Method overloading`***

***`Using Default arguments`***

In [ ]:
class Calculator:
  def add(self,a,b=0,c=0):
    return a+b+c

calc=Calculator()

print(calc.add(5))
print(calc.add(5,10))
print(calc.add(5,10,20))

5
15
35

***`Using Variable-Length arguments`***

In [ ]:
class MathOperations:
  def add(self,*numbers):
    total=sum(numbers)
    print(f"Sum: {total}")

math=MathOperations()
math.add(5)
math.add(5,10)
math.add(1,2,3,4,5)

Sum: 5
Sum: 15
Sum: 15

***`Using *kwargs`***

In [ ]:
class Greeting:
  def say_hello(self,**kwargs):
    if "name" in kwargs and "age" in kwargs and "city" in kwargs:
      print(f"Hello, {kwargs['name']}")
      print(f"You are {kwargs['age']} years old")
      print(f"You live in {kwargs['city']}")
    else:
      print("hello")

g=Greeting()
#g.say_hello()

g.say_hello(name="Nahan",age=18,city="Nilambur")

Hello, Nahan
You are 18 years old
You live in Nilambur

#***`Encapsulation`***

In [ ]:
class Company:
  def __init__(self,company_name,company_id):
    self.company_name=company_name
    self.__company_id=company_id

c1=Company("ALUNGAL",100)
                                      #use __ to hide a id/name
print(c1.company_name)
print(c1.__company_id)

ALUNGAL

AttributeError: 'Company' object has no attribute '__company_id'

In [ ]:
#to show that hidden id/name
class Company:
  def __init__(self,company_name,company_id):
    self.company_name=company_name
    self.__company_id=company_id

  def get_company_id(self):
    return self.__company_id

c1=Company("ALUNGAL",100)

print(c1.company_name)

print(c1.get_company_id())

ALUNGAL
100

***`To set strings/numbers`***

In [ ]:
class Company:
  def __init__(self,company_name,company_id,company_ceo):
    self.company_name=company_name
    self.__company_id=company_id
    self.__company_ceo=company_ceo

  def get_company_id(self):
    return self.__company_id

  def set_ceo(self,setted_name):
    self.__company_ceo=setted_name

  def get_ceo(self):
    return self.__company_ceo

c1=Company("ALUNGAL",100,"nahan")

c1.set_ceo("manu")    #here company_ceo is "nahan" but setted as "manu"
print(c1.get_ceo())

# print(c1.company_name)
# print(c1.get_company_id())

manu

***`To set strings/numbers`***

In [ ]:
class Company:
  def __init__(self,company_name,company_id,company_ceo):
    self.company_name=company_name
    self.__company_id=company_id
    self.__company_ceo=company_ceo

  def set_id(self,setted_id):
    self.__company_id=setted_id


  def get_id(self):
    return self.__company_id

  def get_company_ceo(self):
    return self.__company_ceo


c1=Company("ALUNGAL",100,"nahan")

c1.set_id(200)       #here company_id is 100 but setted as 200
print(c1.get_id())

# print(c1.company_name)
# print(c1.get_company_ceo())

200

In [ ]:
class BankAccount:
  def __init__(self,account_number,balance):
    self.__bank_account_number=account_number
    self.__bank_balance=balance

  def deposit(self,amount):
    if amount>0:
      self.__bank_balance=self.__bank_balance + amount
      print(f"Deposited {amount}, New Balance: {self.__bank_balance}")
    else:
      print(f"Invalid deposit amount")

  def get_balance(self):
    return self.__bank_balance

account=BankAccount("12345",1000)
account.deposit(500)

#print(account.__bank_balance)
print(account.get_balance())

Deposited 500, New Balance: 1500
1500

>q)

Car Class

You are asked to develop a class to manage car's fuel securely.

>1.​Define a Python class Car with the following private attribute:

      ○​ __fuel_level to store the fuel level in the car.

>2.​Implement the following public methods:

     ○​ add_fuel(amount) – A method to add fuel to the car.
     ○​ get_fuel_level() – A method to display the current fuel level securely.

>3.​ Demonstrate the usage of the class by:

      ○​ Adding 20 units of fuel to the car.
      ○​ Displaying the fuel level.

In [ ]:
class Car:
  def __init__(self,fuel):
    self.__fuel_level=fuel

  def add_fuel(self,amount):
    if amount>0:
      self.__fuel_level=self.__fuel_level + amount
      print(f"{amount}rs of fuel were added, New fuel: {self.__fuel_level}")
    else:
      print(f"Invalid amount of fuel")

  def get_fuel_level(self):
    return self.__fuel_level

fuel=Car(100)

fuel.add_fuel(20)

print(fuel.get_fuel_level())

20rs of fuel were added, New fuel: 120
120

ATM Class

You are required to implement a secure ATM system

1.​ Define a Python class ATM with the following private attributes:

    ○​ __pin to store the user's ATM PIN securely.

    ○​ __balance to store the current account balance.

2.​ Implement the following public methods:○​ set_pin(pin) – A method to
securely set the ATM PIN.

    ○​ check_balance(pin) – A method to check the balance after PINverification.

3.​ Demonstrate the usage of the class by:

    ○​ Setting the PIN to 1234.

    ○​ Checking the balance by providing the correct PIN.

In [ ]:
class ATM:
    def __init__(self):
        self.__atm_pin=None
        self.__atm_balance=1000

    def set_pin(self,pin):
        self.__atm_pin=pin
        print("PIN set successfully")

    def check_balance(self,pin):
        if pin==self.__atm_pin:
            print(f"Balance: {self.__atm_balance}")
        else:
            print("Incorrect PIN")

atm =ATM()
atm.set_pin(1234)
atm.check_balance(1234)

PIN set successfully
Balance: 1000

#***`Abstraction`***

In [ ]:
from abc import ABC, abstractmethod

class Vehicle(ABC):
  def start_engine(self):
    print("Engine started")

  def apply_brake(self):
    print("Brake applied")

  def stop_engine(self):
    print("Engine Stopped")

  @abstractmethod
  def change_gear(self):
    pass


class Car(Vehicle):
  def open_sunroof(self):
    print("sunroof opened")

  def change_gear(self):
    print("the gear changed automatically")

class truck(Vehicle):
  def load_weight(self):
    print("weight loaded")

  def change_gear(self):
    print("the gear changed manually")



c=Car()
t=truck()
c.change_gear()
t.change_gear()

the gear changed automatically
the gear changed manually

>q)

>* Create an abstract class payment with an abstract method make_payment()
* Implement subclasses CreditCard and UPI, where each provides its implementation for make_payment()
* Demonstrate the usage by calling the methods on both subclasses

In [ ]:
from abc import ABC, abstractmethod

class Payment(ABC):
    @abstractmethod
    def make_payment(self,amount):
        pass

class CreditCard(Payment):
    def make_payment(self,amount):
        print(f"Paid {amount} using Credit Card.")

class UPI(Payment):
    def make_payment(self,amount):
        print(f"Paid {amount} using UPI.")

credit_card_payment=CreditCard()
upi_payment=UPI()

credit_card_payment.make_payment(500)
upi_payment.make_payment(1000)

Paid 500 using Credit Card.
Paid 1000 using UPI.

>q)

>* Create an abstract class shape with an abstract method calculate_area()
* Implement subclasses circle and square
* For circle,calculate the area using the radius and for square
* Calculate the area using the side length

In [ ]:
from abc import ABC, abstractmethod
from math import pi

class Shape(ABC):
  @abstractmethod
  def calculate_area(self,area):
    pass

class Circle(Shape):
  def __init__(self,radius):
    self.area_radius=radius

  def calculate_area(self):
    print(f"Area of circle: {pi*self.area_radius**2:.2f}")

class Square(Shape):
  def __init__(self,side):
    self.area_side=side

  def calculate_area(self):
    print(f"Area of square: {self.area_side**2}")     #side of circle=side**2 (side square)

circle1=Circle(5)
square1=Square(4)

circle1.calculate_area()
square1.calculate_area()

Area of circle: 78.54
Area of square: 16

>q)

>* Create an abstract class Animal with an abstract method speak()
* Implement the speak() method in subclasses Dog and Bird to print their respective sounds

In [ ]:
from abc import ABC, abstractmethod

class Animal(ABC):
   @abstractmethod
   def speak(self):
    pass

class Dog(Animal):
  def speak(self):
    print("Dog barks")

class Bird(Animal):
  def speak(self):
    print("Bird chirps")

dog1=Dog()
bird1=Bird()

dog1.speak()
bird1.speak()

Dog barks
Bird chirps